<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="file"></span>
              Live Visualization
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/table">
              <span data-feather="shopping-cart"></span>
              Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/live">
              <span data-feather="users"></span>
              Graph
            </a>
          </li>
          
        </ul>
      </div>
    </nav>


</body>
</html>